body {
  background-color: #111;
  color: #fff;
}

div {
  padding: 20px;
}

.flex-parent {
  background-color: lightgray;
  display: flex;
  gap: 20px 10px;
  flex-wrap: wrap;
}

.flex-child {
  background-color: lightslategray;
  flex: 1;

  &:nth-child(2) {
    background-color: crimson;
    flex: 2;
  }
}